{%extends 'base.html'%}
{%load static %}        

       {% block title %}Acerca de {% endblock %}
       {%block body%}
       <body>
              <body>
                     <div class="container">
                            <div class="col">
                                   <div class="card">
                                   <!-- <img src="{% static '/img/logo.bmp' %}" class="card-img-top" alt="..."> -->
                                   <div class="card-body">
                                   <h5 class="card-title">Acerca de... </h5>
                                   <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, veniam quisquam eius cum odit aliquam minima reiciendis pariatur. Neque provident odio quos ex ut est dicta mollitia hic corrupti deserunt.</p>
                                   </div>
                                   </div>
                            </div>
                     </div>
              </body>
       </body>
       {%endblock%}

