{%extends 'base.html'%}
{%load static %}        

       {% block title %} Contacto {% endblock %}
       {%block body%}
       <body>
              <div class="container">
                     <div class="col">
                            <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Contacto</h5>
                            <a href="mailto:example@email.com">Para consultas</a> 
                            </div>
                            </div>
                     </div>
              </div>
       </body>
	{%endblock%}