{%extends 'base.html'%}
{%load static %}        

       {% block title %}Home {% endblock %}
       {%block body%}
       <body>
              
              <div class="container">
              
                     <div class="row row-cols-1 row-cols-md-3">
                           {% for p in productos%}
                                   {%if forloop.counter <= 3 %}
                                          <div class="col">
                                                 <div class="card">
                                                        {%if p.imagen%}
                                                               <img src="{{p.imagen.url}}" class="card-img-top" width="100px">
                                                        {%endif%}
                                                        <div class="card-body">
                                                               <h5 class="card-title">{{p.nombre}}</h5>
                                                               <p class="card-text">{{p.descripcion}}</p>
                                                               <p class="card-text">Precio: $ {{p.precio}}</p>
                                                               <a href="{% url 'producto' p.id %}"  style="background-color: #44126b;"  class="btn btn-primary">Ver Producto</a>
                                                               {%if user.is_authenticated %}
                                                                      <a href="{% url 'agregar' p.id%}"  style="background-color: #44126b;"  class="btn btn-primary">Agregar al carrito</a>
                                                                      <br<br><br><br>

                                                                      <a href="{% url 'editarProd' p.id%}" style="background-color: #44126b;" class="btn btn-primary">Editar/borrar Producto</a>
                                                               {%endif%}

                                                        </div>
                                                 </div>
                                          </div>
                                   {%endif%}
                           {%endfor%}
                           
                        </div>

                     {% for p in productos%}
                            {%if forloop.counter > 3 %}
                                   <div class="list-group">
                                          <a href="{% url 'producto' p.id %}" class="list-group-item list-group-item-action">
                                                 {{p.nombre}}
                                          </a>
                                          
                                   </div>
                            {%endif%}
                     {%endfor%}
                     
                   
             </div>
              
       </body>
       {%endblock%}

              